* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    border: 1px solid #f46565;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Ponerle bordes al texto */
    -webkit-text-stroke: 0.3px #1f60f8;
    background: rgba(240, 240, 240, 0.46);
    margin-bottom: 10px;
}

header {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos en el header */
}

.icono-empresa {
    width: 70px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-right: 21px; /* Ajusta el margen derecho para separar la imagen del título */
}

.KvoMHf {
    margin-right: 10px; /* Ajusta el margen derecho para separar el campo de búsqueda de otros elementos */
}
