<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/index.css">
  <script src="https://kit.fontawesome.com/2438ac0cd7.js" crossorigin="anonymous"></script>
  <!--Se utilizo para trae los iconos de la flecha de carrusel-->
  <title>webSanluisInicio</title>
</head>

<body>
  <!-- Contenedor para el encabezado -->
  <header>
    <script>
      fetch('header.html')
        .then(response => response.text())
        .then(data => {
          document.querySelector('header').innerHTML = data;
        });
    </script>
  </header>
  <main>
    <button>Todas las categorias</button>
    <section id="contenido">
     
      <h1>Ofertas</h1>

      <div id="conteItemCarrusel">
        <div class="itemCarrusel" id="itemCarrusel-1">
          <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
            <img src="../imagenes/cafe.jpg" alt="productosdeMuestra-1">
          </div>
          <div class="flechasCarrusel">
            <a href="#itemCarrusel-3">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
            <a href="#itemCarrusel-2">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="itemCarrusel" id="itemCarrusel-2">
          <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
            <img src="../imagenes/cocacola.jpg" alt="productosdeMuestra-2">
          </div>
          <div class="flechasCarrusel">
            <a href="#itemCarrusel-1">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
            <a href="#itemCarrusel-3">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="itemCarrusel" id="itemCarrusel-3">
          <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
            <img src="../imagenes/pepsi.jpg" alt="productosdeMuestra-3">
          </div>
          <div class="flechasCarrusel">
            <a href="#itemCarrusel-2">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
            <a href="#itemCarrusel-1">
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>





    </section>
  </main>



  <!-- Contenedor para el pie de página -->
  <footer>
    <script>
      fetch('footer.html')
        .then(response => response.text())
        .then(data => {
          document.querySelector('footer').innerHTML = data;
        });
    </script>
  </footer>



  <script src="../js/index.js"></script>
</body>

</html>