* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Quita los estilos que tiene por default*/
}



#container {
    margin-top: 10px;
}



/* Para agregar una barra de movimiento al menu desplegable */
.dropdown-menu-scroll {
    max-height: 550px;
    /* Altura máxima del menú */
    overflow-y: auto;
    /* Agrega una barra de desplazamiento vertical si es necesario */
}

#categoriesSection {
    margin-top: 20px;
}
.centered-img {
    margin: 0 auto; /* Alinea horizontalmente */
    display: block; /* Para que los márgenes automáticos funcionen */
}



#tit{
    text-decoration: none;
    color: black;
}
.contador{
    margin-left:15px;
    margin-right:15px;
}
.card{
    margin-left: 5px;
    margin-top: 5px;
}

