* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Quita los estilos que tiene por default*/
}



.carousel-item img {
    max-width: 100%; /* Establece un ancho máximo del 100% para que la imagen se ajuste al contenedor */
    max-height: 300px; /* Establece una altura máxima para que la imagen no se haga demasiado grande */
    width: auto; /* Permite que el ancho se ajuste automáticamente manteniendo la proporción original */
    height: auto; /* Permite que la altura se ajuste automáticamente manteniendo la proporción original */
  }
  
#container{
    margin-top: 10px;
}

#menuDesplegable{
    background-color: rgb(166, 251, 180);
}

/* Para agregar una barra de movimiento al menu desplegable */
.dropdown-menu-scroll {
    max-height: 550px; /* Altura máxima del menú */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  
#categoriesSection{
    margin-top: 20px;
}