* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Elimina los márgenes y rellenos predeterminados */
}

#formularioDiv {
    min-height: 50vh; 
    /* Define una altura mínima para el contenedor del formulario */
}