* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* barra de navegacion */
.navbar {
    /* padding: 2rem; */

}
.navbar-collapse{
    align-items:center ;
    justify-content: space-between;
}
#menuDesplegable{
    background-color: rgb(166, 251, 180);
}

/* Para agregar una barra de movimiento al menu desplegable */
.dropdown-menu-scroll {
    max-height: 600px; /* Altura máxima del menú */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  